.attribute-option {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    padding: 2px;
    margin-right: 1%;
    margin-left: 1%;
    display: inline-block;
    margin-bottom: 0.5%;
}

.attribute-table {
    border-spacing: 5px;
    border-collapse: separate;
    margin-bottom: 5%;
}