.attribute-option {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    padding: 3px;
    margin-right: 1%;
    margin-left: 1%;
    display: inline-block;
}

.attribute-table {
    border-spacing: 5px;
    border-collapse: separate;
}